<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<ul>
    {% for game in games %}
        <br>
    <li> {{ game.match_id }}
        <ul>
        <strong><p>Dire Team: {{ game.dire }}</p></strong>
        {% for k in game.dire_tower_status %}
            <li>{{ k[0] }} : {{ "Alive" if k[1] else "Destroyed"}}</li>
        {% endfor %}
        <br>
        <strong><p>Radiant Team: {{ game.radiant }}</p></strong>
        {% for k in game.radiant_tower_status %}
            <li>{{ k[0] }} : {{ "Alive" if k[1] else "Destroyed" }}</li>
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
</body>
</html>